@using Xbam.Inspector.Pages
@using Xbam.Inspector.Shared.Components

<AddNewInspectorTabModal
    IsEnabled=@_addModalIsEnabled
    Close=@_onAddTabModalClose/>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between" style="height:35px">
    <span class="navbar-brand mb-0 h1" style="margin-left:10px">XBam Inspector</span>
    <div style="width:170px">
        <button
            title="Add A New Tab"
            @onclick=_onAddTabClick
            style=@(@"
                background-color:green;
                width:90px;
                height:30px;
            ")>Add Tab</button>
        <button
            title="Settings"
            @onclick=_onSettingsClick
            style=@(@"
                background-color:dimgrey;
                width:70px;
                height:30px;
            ")>Settings</button>
    </div>
</nav>

@code {
    bool _addModalIsEnabled
        = false;

    void _onAddTabClick() {
        _addModalIsEnabled = true;
    }

    void _onAddTabModalClose() {
        _addModalIsEnabled = false;
        StateHasChanged();
    }

    void _onSettingsClick() {
        Console.WriteLine("Clicked Settings Button");
    }
}
