@using Meep.Tech.Collections.Generic

<!-- Example:
    <CascadingValue Value="this">
        <div style="width:100%;background-color:gray;">
            <div class="btn-toolbar" role="toolbar">
              @foreach (TabPannel tabPage in Pages) {
                <button 
                    type="button"
                    class="btn @GetButtonClass(tabPage)"
                    @onclick=@(() => ActivatePage(tabPage))>
                    @tabPage.Title
                </button>
              }
            </div>
        </div>
        @ChildContent
    </CascadingValue>
-->

@code {
    OrderedDictionary<string, TabPannel> _pages = new();

    public IReadOnlyList<TabPannel> Pages => _pages.Values.ToList();

    [Parameter] 
    public RenderFragment ChildContent { get; set; }

    public TabPannel ActivePage { get; private set; }

    internal void _addInitialPannel(TabPannel tabPage) {
        _pages.Add(tabPage.Key, tabPage);
        if (_pages.Count == 1) {
            ActivePage = tabPage;
        }
        StateHasChanged();
    }

    protected internal void ActivatePage(TabPannel page) {
        ActivePage = page;
    }

    internal void _stateHasChanged() {
        StateHasChanged();
    }

    protected virtual string GetButtonClass(object page) {
        return (page as TabPannel) == ActivePage 
            ? "btn-primary" 
            : "btn-secondary";
    }
}
