@using Meep.Tech.Data;
@using Meep.Tech.Data.Reflection;
@using Xbam.Inspector.Data
@using Xbam.Inspector.Shared.Components.Cards.Content
@inherits DataCardContent;

<table class="table" style="color:white;">
  <tbody>
      @foreach(var trait in Archetypes.DefaultUniverse.Archetypes.GetTraits(Archetype)) {
        <tr>
          <th scope="row">@trait.name</th>
          <td>@trait.description</td>
        </tr>
      }
  </tbody>
</table>

@code {
    public Archetype Archetype { get; private set; }

    public override CardData State { 
        get => base.State;
        set {
            base.State = value;
            Archetype = ((ArchetypeCardData)base.State).ForArchetype;
            StateHasChanged();
        }
    }
}
