@using Xbam.Inspector.Shared.Components.Tabs
@using Xbam.Inspector.Shared.Components
@using Xbam.Inspector.Data;
@inherits TabPannel

@if (IsTheActivePage) {
    <div class="inspector-family-pannel" style="height: calc(100vh - 110px);background-color:#333333;">
        <div class="inspector-tab-header" style="background-color:whitesmoke;">
            <h3>
                @Title:
            </h3>
            @if(_subTitle is not null) {
                <h4 style="color:blue">
                    @_subTitle
                </h4>
            }
        </div>
        <ItemsTabsArea TabId=@Id TabType=@Type UpdatePannelText=@(t => _subTitle = t) />
    </div>
}

@code {
    internal string _subTitle {
        private get => __subTitle;
        set {
            __subTitle = value;
            StateHasChanged();
        }
    } string __subTitle;

    [Parameter, EditorRequired]
    public override string Key {
        get;
        set;
    } = null!;

    [Parameter, EditorRequired]
    public InspectorTabData.Type Type {
        get;
        init;
    }

    public override string HilightColor
        => Type.TabHilightColor;

    public string Id 
    => Type.ExternalId.ToString() + Key;
}