@using Xbam.Inspector.Shared.Components.Tabs
@using Xbam.Inspector.Shared.Components
@using Xbam.Inspector.Data;
@inherits TabPannel

@if (IsTheActivePage) {
    <span>
        <h3>
            @Title:
        </h3>
        @if(_subTitle is not null) {
            <h4 style="color:blue">
                @_subTitle
            </h4>
        }
    </span>
    <ItemsTabsArea TabId=@Id TabType=@Type UpdatePannelText=@(t => _subTitle = t) />
}

@code {
    internal string _subTitle {
        private get => __subTitle;
        set {
            __subTitle = value;
            StateHasChanged();
        }
    } string __subTitle;

    [Parameter, EditorRequired]
    public override string Key {
        get;
        set;
    } = null!;

    [Parameter, EditorRequired]
    public InspectorTabData.Type Type {
        get;
        init;
    }

    public string Id 
        => Type.ExternalId.ToString() + Key;
}