@using Xbam.Inspector.Pages.InspectorIndex
@inherits LayoutComponentBase

<div style="height:100%;">
	<div style="width:100%">
		<Header />
	</div>
	
    <div style="height:100%">
		<main style="height:100%">
			@Body
		</main>
	</div>
</div>
