@using Xbam.Inspector.Shared.Layouts
@inherits TabsArea

<CascadingValue Value="this">
    <div style="width:100%;background-color:grey;">
        <div class="btn-toolbar" role="toolbar">
          @foreach (TabPannel tabPage in Pages) {
            <button 
                type="button"
                class="btn @GetButtonClass(tabPage)"
                @onclick=@(() => ActivatePage(tabPage))>
                @tabPage.Title
            </button>
          }
        </div>
    </div>
    <div style="height:100%">
        @ChildContent
    </div>
</CascadingValue>
