@using Xbam.Inspector.Shared.Layouts
@inherits TabsArea

<CascadingValue Value="this">
    <div style="width:100%;height:100%;background-color:#333333;" class="d-flex flex-row justify-content-start">
        <div style="background-color:dimgrey;" class="btn-group-vertical d-flex justify-content-start" role="toolbar">
          @foreach (TabPannel tabPage in Pages) {
            <button 
                type="button"
                class="@GetButtonClass(tabPage)"
                @onclick=@(() => ActivatePage(tabPage))>
                @tabPage.Title
            </button>
          }
        </div>
        <div style="height:100%;color:white;">
            @ChildContent
        </div>
    </div>
</CascadingValue>